.wrapper {
  padding: 50px;
  display: flex;
}

.ImageContainer {
  flex: 1;
}

.Image {
  width: 400px;
  height: 80vh;
  object-fit: contain;
}

.InfoContainer {
  flex: 1;
  padding: 100px 150px;
  text-align: left;
}

.title {
  font-weight: 300;
}

.price {
  font-weight: 100;
  font-size: 20px;
}

.description {
  margin: 20px 0px;
}
