@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	background-color: white;
}

#root {
	margin: 0 auto;
	padding: 0 1rem;
	/* text-align: center; */
	background-color: white;
	max-width: 100vw;

	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}

h1 {
	font-size: 4em;
	color: #002a32;
	font-family: "Playfair Display", serif;
	font-weight: 900;
	margin: 0;
	padding-bottom: 1.7em;
}

h3 {
	color: #ff8552;
}

h4 {
	color: #002a32;
	/* font-family: "Playfair Display", serif; */
	font-style: italic;
	font-weight: 700;
}

p {
	font-size: 1em;
	font-weight: 300;
	color: #002a32;
	margin: 0;
	line-height: 1.9;
}

.page-container {
	margin-top: 3em;
	height: fit-content;
	width: 100vw;
	background-color: wheat;
	padding-top: 1em;
	overflow: scroll;
}

/* NAVIGATION COMPONENT CSS */

nav {
	width: 100%;
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 2;
	background-color: white;
	/* border-bottom: 1px solid #002a32; */
	box-shadow: 0px 12px 16px -4px rgba(22, 40, 16, 0.08),
		0px 4px 6px -2px rgba(19, 40, 16, 0.03);
	padding-top: 0.7em;
}

/* Nav wrapper */

.nav-content {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0 2rem 0 1rem;
	height: 5em;
}

/* Nav left div */

.left_nav {
	cursor: pointer;
	flex: 1;
}

.logo {
	height: 2em;
	will-change: transform;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}
.logo:hover {
	transform: scale(1.1);
}

/* Nav center div */

.links-to-pages {
	/* width: 30em; */
	justify-content: space-evenly;
	/* align-items: center; */
	display: flex;
	flex: 2;
	/* gap: 1rem; */
	/* margin-left: 1rem; */
}

.links-to-pages > a {
	font-size: 1em;
	font-weight: 300;
	text-decoration: none;
	color: #002a32;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
	will-change: transform;
}

.links-to-pages > a:hover {
	transform: scale(1.1);
	font-weight: 400;
}

/* Nav right div */

.right_nav {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	color: #002a32;
}

.cart-container {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 100%;
}

.cart-icon {
	background-color: white;
	border: none;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.cart-icon:hover {
	transform: scale(1.1);
}

.cart-icon > img {
	width: 3.7em;
	height: 3.7em;
	object-fit: cover;
}

/* HOMPAGE CSS */

.homePage {
	margin-top: 3em;
	height: 60vw;
	width: 100vw;
	background-color: #f4f3ee;
}

.home-title {
	padding-bottom: 1em;
}

.home-subtitle {
	color: #002a32;
	font-family: "Playfair Display", serif;
	font-size: 2em;
	text-align: center;
}

.hero-banner {
	width: 100vw;
	margin-bottom: 5em;
}

.promo {
	width: 100vw;
}

/* FOOTER CSS */

footer {
	background-color: #002a32;
	width: 100vw;
	display: flex;
}

.footer-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.top-footer {
	height: 8rem;
	margin-top: 2em;
	flex: 1;
}

.center-footer {
	display: flex;
	flex: 1;
	width: 100vw;
	justify-content: space-evenly;
	padding-bottom: 2em;
}

.adress {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.map {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.map-icon {
	height: 2em;
	will-change: filter;
	transition: filter 300ms;
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
}
.map-icon:hover {
	transform: scale(1.1);
}

.email {
	display: flex;
	flex-direction: column;
}

.link-email {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.email-icon {
	height: 2em;
	will-change: filter;
	transition: filter 300ms;
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
}
.email-icon:hover {
	transform: scale(1.1);
}

.logo-footer {
	height: 2em;
}

.bottom-footer {
	padding-bottom: 1em;
}

.parag-footer {
	font-size: 0.8em;
	font-weight: 300;
	color: #f4f3ed;
	margin: 0;
}

.copyright-section {
	display: flex;
	justify-content: center;
}

.copyright-section > p {
	text-align: center;
	color: white;
	font-size: 0.7em;
}

.footer-link {
	color: #ff8552;
	text-decoration: none;
}

.footer-link:hover {
	color: aquamarine;
}

/* ABOUT PAGE CSS */

.about-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	width: 100%;
	padding-top: 6em;
}

.about-description {
	width: 80vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: center;
	padding: 3em;
}

.container {
	background-color: white;
	border-radius: 17px;
	width: 80%;
}

.about-img {
	height: 40em;
	display: flex;
	justify-content: center;
}

.about-text {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.about-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 3em;
}

.text-tiles {
	background-color: white;
}

.about-subtitle {
	color: #002a32;
	font-family: "Playfair Display", serif;
	font-style: italic;
	font-size: 4em;
	margin: 0 0 0.5em;
}

.social-share {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 1.5em;
}

.social-infos {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.social-details {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.linkedin-img {
	height: 5em;
	padding: 0;
}

.highlight-color {
	color: #ff8552;
}

.italic {
	font-style: italic;
}

/* PAGE LIST */

.list-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	/* width: 100vw; */
	padding: 6em 0 4em 0;
	height: fit-content;
}

.cards-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-content: center;
	height: fit-content;
	width: 90vw;
	padding-bottom: 5em;
	row-gap: 2rem;
	column-gap: 1em;
}

.cards-wrapper > a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	text-decoration: none;
}
.card {
	height: 100%;
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 7px;
}

.card > a {
	width: 100%;
	text-decoration: none;
}

.card-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 3em 0;
}

.card-image > img {
	height: 14em;
	object-fit: cover;
	margin: 0 1em;
}

#jewelery-special-img-class {
	height: 14em;
}

.card-content {
	display: flex;
	width: 80%;
	justify-content: center;
	flex-direction: column;
	margin: 0 2em;
	/* row-gap: 1em; */
}

.product-name {
	font-weight: 700;
	font-size: 1.1em;
}

.price {
	font-weight: 800 !important;
	color: #ff8552;
}

/* PRODUCT PAGE */

.product-wrapper {
	width: 70%;
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding: 3em 3em 3em 0;
	border-radius: 7px;
}

.single-product-content {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6em 0 6em 0;
	height: fit-content;
}

.product-title {
	color: #002a32;
	margin: 0;
	font-size: 1.7em;
}

.image-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-image {
	width: 20em;
}

.product-infos {
	display: flex;
	flex-direction: column;

	/* justify-content: space-evenly; */
	/* height: 70%; */
}

.detail-price-product {
	font-size: 2.5em;
}

.detail-description-product {
	font-size: 0.9em;
}

.product-sections-title {
	color: #002a32;
	margin: 1em 0 0.3em 0;
	font-size: 1.3em;
	font-weight: 900;
	font-style: italic;
	font-family: "Playfair Display", serif;
}

.add-to-cart {
	width: 100%;
	margin: 1em 0 0;
}

.btn-add-to-cart {
	width: 100%;
	text-align: center;
	padding: 0.8em;
	background-color: #ff8552;
	border: none;
	border-radius: 5px;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 1em;
	cursor: pointer;
	will-change: background-color, transform;

	transition: all 0.5s;
}

.btn-add-to-cart:hover {
	background-color: #002a32;
	transition: 0.5s;
}

/* CONTACT US PAGE CSS */

.help-form {
	transition: tranform 0.2s ease-out;
	height: auto;
	bottom: 0;
	display: inline-block;
	position: fixed;
	right: 40px;
	width: 303px;
	overflow: hidden;
	z-index: 1;
}

.help-form--submitted {
	max-height: 4em;
	cursor: not-allowed;
}

.help-form-container {
	background: #002a32;
	box-sizing: border-box;
	padding: 1.3em 2em 1.3em 2em;
	box-shadow: 0px 12px 16px -4px rgba(22, 40, 16, 0.08),
		0px 4px 6px -2px rgba(19, 40, 16, 0.03);
	border-radius: 8px 8px 0 0;
	/* width: 100%;
	height: 100%; */
	/* z-index: 201; */
	/* overflow: hidden;
	position: relative; */
}

.help-form-title {
	font-size: 1.3em;
	color: floralwhite;
	margin: 0 0 0.7em;
}

/* .help-form__close-button {
	font-size: 0.8em;
	position: absolute;
	right: 32px;
	top: 24px;
	width: 24px;
	height: 24px;
	line-height: 1;
} */

.help-form__send-button {
	border: 1px solid #ff8552;
	background-color: #ff8552;
	border-radius: 3px;
	color: #002a32;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-weight: 500;
	text-align: center;
	transition: all 0.3s ease-out;
}

.help-form-text-area {
	font-size: 1em;
	padding: 8px;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #b5bbc0;
	border-radius: 4px;
	height: 72px;
	outline: 0;
	resize: none;
	width: 100%;
	color: #002a32;
}

.align-ctas {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1em;
}

.align__cell {
	display: table-cell;
	vertical-align: middle;
}

.u-left {
	float: left;
}

.help-form-help-button {
	color: #ff8552;
	cursor: pointer;
	font-size: 0.8em;
	text-decoration: underline;
}

.highlight-send {
	font-weight: 700;
}

.help-form__response {
	font-size: 0.75em;
	color: floralwhite;
	margin: 1em 0 0;
	background-color: #002a32;
}

/* CART PAGE */

.cart-img > img {
	width: 7em;
}

.cart-table {
	width: 100%;
	padding: 1em 3em;
	border-spacing: 2.7em 3em;
}

th {
	color: #ff8552;
	text-align: left;
	font-size: 1.2em;
	font-weight: 700;
}

tr {
	color: #002a32;
}

.product {
	height: 10em;
}

.action {
	display: flex;
	justify-content: center;
}

.unit-price {
	font-size: 1.4em;
	font-weight: 500 !important;
	color: #002a32;
}

.quantity-input {
	width: 3em;
	font-size: 1em;
	font-weight: 400;
	color: #002a32;
	padding: 0.2em;
	border: 1px solid wheat;
	border-radius: 4px;
	outline: 0;
	text-align: center;
	background-color: wheat;
}

.subtotal-value {
	font-size: 1.4em;
	font-weight: 700;
	color: #ff8552;
}

.btn-delete {
	border: 1px solid #ff8552;
	background-color: #ff8552;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-family: inherit;
	font-weight: 700;
	font-size: 1em;
	text-align: center;
	padding: 0.7em;
	transition: all 0.3s ease-out;
}

.btn-delete:hover {
	background-color: #002a32;
	border: 1px solid #002a32;
	transition: 0.5s;
}

.cart-ctas {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 3em;
}

.btn-dont-buy {
	border: 1px solid #ff8552;
	background-color: #ff8552;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-family: inherit;
	font-weight: 700;
	font-size: 1em;
	text-align: center;
	padding: 0.7em;
	transition: all 0.3s ease-out;
}

.btn-dont-buy:hover {
	background-color: #002a32;
	border: 1px solid #002a32;
	transition: 0.5s;
}

.btn-go-shopping {
	border: 1px solid #002a32;
	background-color: #002a32;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	font-family: inherit;
	font-weight: 700;
	font-size: 1em;
	text-align: center;
	padding: 0.7em;
	transition: all 0.3s ease-out;
}

.btn-go-shopping:hover {
	background-color: #ff8552;
	border: 1px solid #ff8552;
	transition: 0.5s;
}

.empty-cart {
	color: #002a32;
	text-align: center;
}
